.paginationBttns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: auto;
    margin-top: 40px;
}
.paginationBttns a
{
    color: var(--white) !important;
    line-height: 20px;
    padding: 12px;
    transition: var(--transition-1);
}
.paginationBttns .paginationActive a
{
    padding:5px 10px;
    width: 10px;
    height: 10px !important;
    border-radius: 5px;
    border: 1px solid var(--Primary);
}
.paginationBttns .prevButtn,.paginationBttns .nextButtn
{
    font-size: 25px;
    color: var(--Primary) !important;
}
.paginationBttns .prevButtn:hover,.paginationBttns .nextButtn:hover
{
    color: var(--btn-hover) !important;
}
