
.user-profile-data {
    color: var(--white);
    background-image: url(../../assets/images/secondary_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;




}

.user-profile-data .overlay {
    background : linear-gradient(180deg, rgba(24, 24, 24, 0.89) 0%, rgba(27, 26, 26, 0.93) 47.92%,rgba(26, 25, 25, 1)100%);
    padding-bottom: 2rem;
    padding-top: 10rem;


}

.user-profile-data .line {
    height: 1.8px;
    background-color: var(--Primary);
    margin-top: 10px;
    width: 89px;
}

.user-profile-data .image-name {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 186px;
    background-color: rgba(0, 0, 0, 0.40);
    padding: 50px;
}

.user-profile-data .image-admin {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 30px;
    background-color: rgba(217, 217, 217, 1);
}

.user-profile-data .btn-edit {
    position: absolute;
    top: 20px;
    right: 20px;
    text-transform: uppercase;
    background-color: var(--btn-defauit) !important;
    border: 0 !important;
    transition: var(--transition-1);
    -webkit-transition: var(--transition-1);
    -moz-transition: var(--transition-1);
    -ms-transition: var(--transition-1);
    -o-transition: var(--transition-1);
    height: 45px !important;
    width: 155px !important;
}

.user-profile-data .btn-edit:hover {
    background-color: var(--btn-hover) !important;
}

.user-profile-data .content {
    display: flex;
    justify-content: space-between;

}
.user-profile-data .content-user{
    margin-top: 20px;
}
.user-profile-data .content .side-bar {

     height: fit-content;
    background-color: rgba(0, 0, 0, 0.40);
    margin-bottom: 20px;
   margin-left: 10px;
    width: 22%;

}



.user-profile-data .about,
.user-profile-data .course {
    padding: 20px;
    min-height: 178px !important;
    background-color: rgba(0, 0, 0, 0.40);
}

.user-profile-data .course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 134px;
}
.user-profile-data .titel {
    margin-left: 20px;
}

.user-profile-data .instructuor {
    color: var(--Primary);
}


@media (max-width:1140px) {
   
    .user-profile-data .image-name {
        display: block;
        margin-top: 50px;
    }

    .user-profile-data .image-admin {
        margin-bottom: 30px;
    }
    .user-profile-data .btn-edit {
        position: absolute;
        top: 50px;
        right: 50px;

    }
    /* .user-profile-data .content .side-bar {
        display: none;
    } */


    .user-profile-data .content {
        margin-bottom: 100px !important;
    }
}
@media (max-width:767px) {
    .user-profile-data {
        background-position: 50%;




    }
    .user-profile-data .content .side-bar {


       width: 95%;

   }
    .user-profile-data .image-name {
        display: block;
        margin-top: 50px;
    }

    .user-profile-data .image-admin {
        margin-bottom: 30px;
    }
    .user-profile-data .btn-edit {
        position: absolute;
        top: 60px;
        right: 20px;

    }



    .user-profile-data .content {
        margin-bottom: 100px !important;
    }
    .user-profile-data .course {
        position: relative;
    }
    .user-profile-data .course .course-level{
    position: absolute;
    right: 20px;
    bottom: 20px;

    }

}
@media (max-width:300px) {
        .user-profile-data h2 {
            font-size: var(--h4-22) ;
        }

        .user-profile-data h4 {
        font-size: 18px !important;
    }

    .user-profile-data .btn-edit {
        height: 35px !important;
        width: 120px !important;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
