.CourseShowPageNotEnrolled .section-header{
    color:#fff !important;
    margin-top:130px !important;

}
.CourseShowPageNotEnrolled{
    padding-top: 10rem;

}
.CourseShowPageNotEnrolled img{
    width: 100%;
}
.CourseShowPageNotEnrolled .paragroup{
    background: #0808082b;
    padding: 20px;
    margin-top: 45px
}

@media (max-width: 769px) {

   .CourseShowPageNotEnrolled .paragroup {
        margin-top: 10px;
    }
}
.CourseShowPageNotEnrolled .instrusctor{
    color:var(--Primary)
}
.CourseShowPageNotEnrolled .course-name{
    position: relative;
    margin-bottom: 20px;

}
.CourseShowPageNotEnrolled .course-name::after{
    content: "";
    width: 7%;
    height: 2px;
    background-color: var(--Primary);
    top:50px;
    position: absolute;
    left:0;
    bottom: 10px;
}
.CourseShowPageNotEnrolled .enrolls-btn{
    padding: 4px 0;
    background: var(--Primary);
    color: #f8f5ea;
    display: block;
    width: 100%;
    text-transform: uppercase;
    border:0;
    outline: none;
    border-radius: 5px;
}

.CourseShowPageNotEnrolled .enrolls-btn.enrolled {
    background-color: rgb(173, 173, 173);
}
.CourseShowPageNotEnrolled .details{

    padding: 6px 18px;
    border-radius: 1px;
    margin-bottom: 10px;
}
.CourseShowPageNotEnrolled .details .item {
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 4px 6px 4px 20px;
    border-radius: 4px;
}
.CourseShowPageNotEnrolled .details .icon{
    color:var(--Primary);
    font-size: 25px;
    margin-right: 20px;
}
.CourseShowPageNotEnrolled .lesson{
    padding: 12px 10px;
}

.CourseShowPageNotEnrolled .lesson p {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.CourseShowPageNotEnrolled .lesson .icon {
    font-size: 23px;
    max-width: 24.5px;
    color: #fff;
}

.CourseShowPageNotEnrolled .lesson span:not(.value) {
    flex: 1;
    font-weight: 700;
    margin-right: 10px;

}
.CourseShowPageNotEnrolled .intro{
    color:#eee;
}
.CourseShowPageNotEnrolled .lesson .value {
    color: #ffffffa9;
}
.CourseShowPageNotEnrolled .CourseShowPageNotEnrolled p{
    color:#eee;
    font-size: 15px;
}
.CourseShowPageNotEnrolled .paragroup p{
    font-size: 12px;
    color:#eee;
}
.CourseShowPageNotEnrolled .paragroup .title{
    color:#f8f5ea;
    font-size: 20px;
}
